P1_REGISTRY_USERNAME=<replace-with-your-iron-bank-username>
P1_REGISTRY_PASSWORD=<replace-with-your-iron-bank-password>
AZURE_CREDENTIALS="<replace-with-your-az-service-principal-profile-json>"
CLUSTER_NAME=bigbang-poc
CLUSTER_REGION=eastus
CLUSTER_RESOURCE_GROUP=<replace-with-your-az-resource-group-name>